header {
  text-align: center;
  background-color: #554444;
  color: #ffffff;
  font-size: 35px;
  padding: 25px;
}

h5 {
  margin: 0px 0 10px 0;
  font-size: 15px;
}

h6 {
  margin: 20px 0 10px 0;
  padding: 0;
  font-size: 15px;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

form {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

select {
  border: 1px inset #eeddcc;
  color: #222222;
  width: 150px;
  height: 25px;
  font-size: 12px;
  margin-top: 20px;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.App {
  text-align: center;
  color: #222222;
}

.name-input {
  width: 240px;
  text-align: center;
  margin-bottom: 5px;
  height: 25px;
  border: 1px inset #eeddcc;
  border-radius: 3px;
  color: #222222;
  font-size: 12px;
}

.scores {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  height: 220px;
}

.scores div {
  margin: 0 20px;
}

.scores li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100px;
  font-weight: bold;
}

.scores button {
  width: 20px;
  height: 20px;
  border: 1px outset #eeddcc;
  background-color: #ffffff;
  color: #222222;
  border-radius: 3px;
  text-align: center;
  line-height: 0px;
  font-size: 12px;
  padding: 0;
}

.scores button:active {
  border: 1px inset #eeddcc;
}

.proficiencies {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
}

.choice-groups {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  align-content: flex-start;
  max-width: 450px; 
  margin: 10px;
}

.choices {
  display: flex;
  flex-flow: row wrap;
  justify-content: justify;
  border: 1px inset #ffeedd;
  border-radius: 3px;
  background-color: #eeddcc;
  padding: 15px;
}

.checkbox {
  width: 200px;
  display: flex;
  align-items: center;
}

.option {
  padding-left: 10px;
}

.character-sheet {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px inset #ffeedd;
  border-radius: 3px;
  background-color: #eeddcc;
  margin: 30px auto;
  padding: 0 10px 25px 10px;
  width: 90%;
  max-width: 700px;
}

.character-sheet h1 {
  margin: 30px 50px 0 50px;
  font-size: 30px;
}

.character-sheet h2 {
  margin: 20px 15px 5px 15px;
  font-size: 18px;
}

.character-sheet h3 {
  margin: 10px;
  font-size: 18px;
}

.character-sheet h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.abilities {
  text-align: justify;
  width: 180px;
}

.abilities li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.abilities p {
  margin: 0;
  margin-bottom: 10px;
}

.ability {
  font-weight: bold;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: justify;
  text-align: left;
  max-width: 450px;
}

.skills li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 135px;
  margin-left: 15px;
}

.selected, .unselected {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px inset #eeddcc;
  border-radius: 8px;
  margin-right: 8px;
  background-color: #ffffff;
}

.selected {
  background-color: #222222;
  border: 1px outset #554444;
}



