header {
  text-align: center;
  background-color: #554444;
  color: #eeeeee;
  font-size: 35px;
  padding: 25px;
}

h5 {
  margin: 0px 0 10px 0;
  font-size: 15px;
}

h6 {
  margin: 20px 0 10px 0;
  padding: 0;
  font-size: 15px;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

form {
  padding: 20px;
}

.App {
  text-align: center;
  color: #222222;
}

.scores {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  height: 220px;
}

.scores div {
  margin: 0 20px;
}

.scores li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100px;
}

.proficiencies {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
}

.choice-groups {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  align-content: flex-start;
  max-width: 450px; 
  margin: 10px;
}

.choices {
  display: flex;
  flex-flow: row wrap;
  justify-content: justify;
  border: 1px inset #eeddcc;
  padding: 15px;
}

.checkbox {
  width: 200px;
  display: flex;
  align-items: center;
}

.option {
  padding-left: 10px;
}

.selected {
  font-weight: bold;
}

.unselected {
  color: #666;
}



